In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib'

In [10]:
df = pd.read_csv('data.csv')
df.head(3)

,acteurs,anecdotes,duree,entrees,genre,pays,realisateur,studio,titre
0,"Maxime Gasteuil,Zabou Breitman,Romain Lancry",5,96,126678,Comédie,France,Edouard Pluvieux,Wild Bunch Distribution,14 jours pour aller mieux
1,"Audrey Lamy,Fabrice Eboué,Anouk Grinberg",7,103,136628,Comédie,France,"Maxime Govare,Romain Choay",Warner Bros. France,Heureux gagnants
2,"Raphaël Personnaz,Doria Tillier,Jeanne Balibar",10,120,177724,Biopic,France,Anne Fontaine,SND,Bolero

In [11]:
df.describe()

         anecdotes        duree       entrees
count  1540.000000  1540.000000  1.540000e+03
mean      6.667532   103.405844  1.008200e+05
std       4.132140    22.792270  2.263700e+05
min       0.000000    31.000000  6.000000e+00
25%       5.000000    91.000000  4.822500e+03
50%       6.000000   100.000000  2.413250e+04
75%       8.000000   114.000000  9.890350e+04
max      35.000000   213.000000  2.867515e+06

In [12]:
#analytics univariées
plt.scatter(df.index,df['entrees'])
plt.show()

NameError: name 'plt' is not defined