In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [38]:
df_clean = pd.read_csv('/home/kevin/Documents/projets/Dev IA/cinema_prediction/movies_clean_v1.csv')
# Je retransforme la colonne date en datetime au cas ou
df_clean['date'] = pd.to_datetime(df_clean['date'])

# Je catégorise en saisons
def map_season(month):
    if month in [3, 4, 5]:  # Printemps (mars, avril, mai)
        return 'Printemps'
    elif month in [6, 7, 8]:  # Été (juin, juillet, août)
        return 'Été'
    elif month in [9, 10, 11]:  # Automne (septembre, octobre, novembre)
        return 'Automne'
    else:  # Hiver (décembre, janvier, février)
        return 'Hiver'

# J'applique le mapping
df_clean['season'] = df_clean['date'].dt.month.apply(map_season)

df_clean.head(3)

# Je retransforme la colonne date en datetime au cas ou
df_clean['date'] = pd.to_datetime(df_clean['date'])

# Je catégorise en saisons
def map_season(month):
    if month in [3, 4, 5]:  # Printemps (mars, avril, mai)
        return 'Printemps'
    elif month in [6, 7, 8]:  # Été (juin, juillet, août)
        return 'Été'
    elif month in [9, 10, 11]:  # Automne (septembre, octobre, novembre)
        return 'Automne'
    else:  # Hiver (décembre, janvier, février)
        return 'Hiver'

# J'applique le mapping
df_clean['season'] = df_clean['date'].dt.month.apply(map_season)

def categorisation_studio (stud):
    big = ['Walt Disney Pictures','Warner Bros.','Paramount','Sony Pictures','Universal','20th Century Fox','Lionsgate','Columbia']
    medium = ['Pathé','Studiocanal','Gaumont','UGC Distribution','SND','Le Pacte',' Metropolitan','EuropaCorp','GBVI',' Wild Bunch','UFD','ARP Selection','Ad vitam','Haut et Court',' Films du Losange','Rezo Films','TFM Distribution']
    small = ['Gébéka','Memento Films','KMBO','Océan Films','AMLF','MK2 Diffusion','Gaumont Sony','Apollo Films','Sophie Dulac','Eurozoom','Jour2Fête','Pan-Européenne','Cinema Public','Polygram']

    if stud in big:
        return 3
    elif stud in medium:
        return 2
    elif stud in small:
        return 1
    else:
        return 0
    
df_clean['coeff_studio'] = df_clean['studio'].apply(categorisation_studio)
df_clean.head(3)

,acteurs,budget,compositeur,date,entrees_premiere_semaine,franchise,genre,pays,producteur,realisateur,remake,studio,titre,season,coeff_studio
0,"Sam Worthington, Sigourney Weaver",315000000,James Horner,2009-12-16,2 648 596,Franchise,Science Fiction,Etats-Unis,NaN,James Cameron,NaN,20th Century Fox,Avatar,Hiver,3
1,"Daniel Radcliffe, Emma Watson, Gary Oldman, Al...",130000000,John Williams,2004-06-02,2 503 699,Franchise,Fantasy,Etats-Unis,NaN,Alfonso Cuaron,NaN,Warner Bros.,Harry Potter et le prisonnier d'Azkaban,Été,3
2,"Adam Driver, Benicio Del Toro, Joseph Gordon-L...",200000000,John Williams,2017-12-13,2 510 462,Franchise,Fantasy,Etats-Unis,Kathleen Kennedy,Rian Johnson,NaN,Walt Disney Pictures,Star Wars: Les derniers Jedi,Hiver,3

In [39]:
df_clean['coeff_studio'].unique()

array([3, 0, 2, 1])

In [40]:
df_clean

,acteurs,budget,compositeur,date,entrees_premiere_semaine,franchise,genre,pays,producteur,realisateur,remake,studio,titre,season,coeff_studio
0,"Sam Worthington, Sigourney Weaver",315000000,James Horner,2009-12-16,2 648 596,Franchise,Science Fiction,Etats-Unis,NaN,James Cameron,NaN,20th Century Fox,Avatar,Hiver,3
1,"Daniel Radcliffe, Emma Watson, Gary Oldman, Al...",130000000,John Williams,2004-06-02,2 503 699,Franchise,Fantasy,Etats-Unis,NaN,Alfonso Cuaron,NaN,Warner Bros.,Harry Potter et le prisonnier d'Azkaban,Été,3
2,"Adam Driver, Benicio Del Toro, Joseph Gordon-L...",200000000,John Williams,2017-12-13,2 510 462,Franchise,Fantasy,Etats-Unis,Kathleen Kennedy,Rian Johnson,NaN,Walt Disney Pictures,Star Wars: Les derniers Jedi,Hiver,3
3,"Chris Evans, Chris Hemsworth, Josh Brolin, Rob...",295000000,Alan Silvestri,2018-04-25,2 565 953,Franchise,Comicbook,Etats-Unis,Kevin Feige,Russo (brothers),NaN,Walt Disney Pictures,Avengers: Infinity War,Printemps,3
4,"Sam Worthington, Sigourney Weaver, Kate Winslet",350000000,NaN,2022-12-14,2 739 848,Franchise,Science Fiction,Etats-Unis,NaN,James Cameron,NaN,Walt Disney Pictures,Avatar : la voie de l'eau,Hiver,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4536,Jason Statham,40000000,NaN,2011-04-06,122 671,NaN,Aventure - Action,Etats-Unis,NaN,Simon West,Remake,Metropolitan,Le Flingueur (2011),Printemps,0
4537,"Alan Rickman, Dustin Hoffman",49515804,NaN,2006-10-04,305 743,NaN,Drame,Allemagne,NaN,NaN,NaN,Metropolitan,Le Parfum : histoire d'un meurtrier,Automne,0
4538,"Dany Boon, François Berléand, Valérie Bonneton...",27800000,NaN,2018-02-28,2 429 906,NaN,Comédie,France,NaN,Dany Boon,NaN,Pathé,La Ch’tite famille,Hiver,2
4539,"Emmanuelle Devos, Sergi Lopez",2700000,NaN,2020-07-01,121 018,NaN,Comédie,France,NaN,NaN,NaN,Pyramide,Les Parfums,Été,0
4540,"Michael Fassbender, Charlotte Gainsbourg, Val ...",35000000,NaN,2017-11-29,121 112,NaN,Thriller,Grande-Bretagne,NaN,NaN,NaN,Universal,Le Bonhomme de neige,Automne,3

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
df_clean.dtypes

acteurs                             object
budget                               int64
compositeur                         object
date                        datetime64[ns]
entrees_premiere_semaine             int64
franchise                           object
genre                               object
pays                                object
producteur                          object
realisateur                         object
remake                              object
studio                              object
titre                               object
season                              object
coeff_studio                         int64
dtype: object

In [ ]:
df_clean.to_csv('movies_clean_v1.csv', index=False)